{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    BRENDA GUIJARRO TINOCO
                </h1>
                <div class="my-12 text-about">
                <div><h5>
                     "Since my very early years started to show a deep interest in fine arts. Studying different techniques and developing and working into my very own style and artistic approach.
                      During the current years, I have been representing my art mostly using oil paints, which I love. I have a classic way of painting with contradictory colors. I paint to express myself imaginary people, mostly women; friends within abstract backgrounds. I have also been involved in wall art and mural projects which I find very interesting as is an art subject very close to my lifestyle.
                      Please find my application to this contest in a very enthusiastic way."
                    </h5>
                </div>
                </div>
                <div class="my-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img class="d-block w-50" src="" alt="First slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-50" src="" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-50" src="" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
{% endblock %}