@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

html {
    height: 100%;  

}

body {
    background: url('/media/background.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Bitter' , serif;
}

.text-about {
    background-color: #fafafa;
    opacity: 0.8;
    border-radius: 5px;
    padding: 30px;
    
}
.logo-font{
    padding-top: 120px;
}

 .dropdown-toggle::after { 
     content: none; 
}

 @media only screen and (max-width: 1024px) {
     .form-control{
       display:none;
     }
     .btn{
      display: flex;
     }
    #right-side {
     justify-content: flex-end;
     display: flex;
    }
    #navbarDropdown {
     justify-content: flex-end;
     display: flex;

    }
}


 #right-side {
     justify-content: flex-end;
     display: flex;
 }

 .overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
    z-index: -1;
}

.logo-font-2 {
    margin-top: 75px;
    margin-bottom: 50px;
}

.product-name {
    margin-top: 200px;
}

.image-container {
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;

}

.remove-item , .update-link {
    cursor: pointer;
}

.toast{
    overflow: visible;
}
.message-container {
    z-index: 99999999999;
    position: fixed;
}
/* allauth formatting */
.allauth-form-inner-content p {
    margin-top: 2rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #aab7c4;
    border-radius: 3;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 3;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 3;
}


@media (max-width: 991px) {
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}