@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

html {
    height: 100%;  

}

body {
    background: url('/media/background.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Bitter' , serif;
}

.text-about {
    background-color: #fafafa;
    opacity: 0.8;
    border-radius: 5px;
    padding: 30px;
    
}

.dropdown-toggle::after {
     content: none;
}

 @media only screen and (max-width: 1024px) {
     .form-control{
       display:none;
     }
     .btn{
      display: none;
     }
    #right-side {
     justify-content: flex-end;
     display: flex;
    }
    #navbarDropdown {
     justify-content: flex-end;
     display: flex;

    }
 }


 #right-side {
     justify-content: flex-end;
     display: flex;
 }

 .overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
    z-index: -1;
}

.logo-font-2 {
    margin-top: 75px;
    margin-bottom: 50px;
}

.product-name {
    margin-top: 200px;
}

.image-container {
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;

}

.remove-item {
    cursor: pointer;
}