@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

html {
    height: 100%;  

}

body {
    background: url('/media/background.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Bitter' , serif;
}

.text-about {
    background-color: #fafafa;
    opacity: 0.6;
    
}
