.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--invalid{
    border-color: #dc3545;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}


.fielset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    border: 1px solid #383838;
    color: #383838;


}

.order-confirmation-wrapper {
    width: 841px;
    margin: 0 auto; 
}

#loading-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: #9b9b9b;
}

.spinner-border, 
.spinner-border-sm,
.spinner-grow,
.spinner-grow-sm {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
}